<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Contas</title>
    <div th:replace="header :: header-css"/>
</head>
<body>

    <div th:replace="header :: header"/>
    <!--/*@thymesVar id="conta" type="br.com.springboot.controleorcamento.model.Conta"*/-->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div th:replace="header :: menu"/>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <section class="col-md-6">
                        <h2 class="text-center">Cadastro</h2>
                        <form th:action="@{/site/contas}" th:object="${conta}" method="post">
                            <div class="form-group">
                                <label for="descricao">Descrição</label>
                                <input type="text" class="form-control" th:field="*{descricao}" id="descricao" placeholder="Descrição"/>
                            </div>
                            <div class="form-group">
                                <label for="saldo">Saldo</label>
                                <input type="text" class="form-control" th:field="*{saldo}" id="saldo" placeholder="Saldo"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </form>
                    </section>
                    <section class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">Contas</h2>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive" th:if="${not #lists.isEmpty(contas)}">
                                    <table class="table table-hover">
                                        <thead class="thead-inverse">
                                        <tr>
                                            <th>Descrição</th>
                                            <th>Saldo</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="conta: ${contas.content}">

                                            <td>
                                                <a href="#" th:href="@{'/site/contas/'+${conta.id}}" th:text="${conta.descricao}">
                                                </a>
                                            </td>
                                            <td th:text="${conta.saldo}"></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="footer :: footer"/>
</body>
</html>

