<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Detalhes</title>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="header :: menu"/>
        </div>
        <div class="col-md-2">
        </div>
        <section class="col-md-5">
            <h1 class="text-center">Cadastro</h1>
            <form th:object="${categoria}" th:action="@{/site/categorias}" method="post">
                <!--/*@thymesVar id="categoria" type="br.com.springboot.controleorcamento.projections.CategoriaInfo"*/-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Cadastre as informações</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="descricao">Descrição :</label>
                                <input type="text" class="form-control" id="descricao" th:field="*{descricao}"/>
                            </div>
                            <div class="col-md-12">
                                <label for="tipo">Tipo :</label>
                                <select id="tipo" th:field="*{tipo}" class="form-control">
                                    <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </section>
    </div>
</div>

<div th:replace="footer :: footer"/>
</body>
</html>