<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Categorias</title>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>
<!--/*@thymesVar id="categories" type="org.springframework.data.domain.Page"*/-->
<!--/*@thymesVar id="category" type="br.com.springboot.controleorcamento.projections.CategoriaInfo"*/-->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div th:replace="header :: menu"/>
        </div>
        <div class="col-md-10">
                <section >
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">Categorias</h2>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" th:if="${not #lists.isEmpty(categories)}">
                                <table class="table table-hover">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Descrição</th>
                                        <th>Tipo</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="category: ${categories}">

                                        <td>
                                            <a href="#" th:href="@{'/site/categories/'+${category.id}}" th:text="${category.descricao}">
                                            </a>
                                        </td>
                                        <td th:text="${category.tipo}"></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div th:replace="pagination :: paginationbar"/>

                </section>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"/>
</body>
</html>

